version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: wordpress_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wordpress
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  wordpress:
    build: .
    container_name: wordpress_app
    depends_on:
      - db
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: user
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
      # Init script variables
      WP_URL: http://localhost:8000
      WP_TITLE: "My Pixie WordPress"
      WP_ADMIN_USER: admin
      WP_ADMIN_PASS: admin123
      WP_ADMIN_EMAIL: admin@example.com
      WP_LOCALE: es_ES
      WP_TIMEZONE: America/Argentina/Buenos_Aires
    volumes:
      - wp_data:/var/www/html

volumes:
  db_data:
  wp_data:
